@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table>
        <tbody>
            <tr>
                <td>grupo</td>
                <td><input type="text" id="txt_grupo" placeholder="ingrese grupo" required /></td>
                <td><button type="button" onclick="AgregarGrupos()" > Agregar a grupos</button></td>
                <td><button type="button" onclick="obtener()" > Ingresar</button></td>
                <td><label id="lbl_grupo"></label></td>
            </tr>
            
        </tbody>
    </table>
</div>
<div id="divAlertas">

</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>





<script>
    let grupos = [];
    function obtener() {
        var grupo = document.getElementById("txt_grupo");
        document.getElementById("lbl_grupo").innerText = grupo.value;
        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44313/alertahub").build();
        connection.start().then(function () {
            connection.invoke("JoinGroup", grupos).catch(err => {
                console.log(err);
            });
            console.log("Conexion exitosa");
        }).catch(function (err) {
            console.error(err);
        });
        connection.on("activeUsers", function (counter) {
            var divAlerta = document.createElement("div");
            divAlerta.textContent = "Usuarios Activos " + counter;
            document.getElementById("divAlertas").appendChild(divAlerta);
        })
        connection.on("JoinGroupName", function (groupNames) {
            var divAlerta = document.createElement("div");
            divAlerta.textContent = "Se han unido al grupo " + groupNames;
            document.getElementById("divAlertas").appendChild(divAlerta);
        })
        connection.on("globalAlerts", function (alertType, message, groupNames) {
            var divAlerta = document.createElement("div");
            divAlerta.textContent = "Grupo: " + groupNames + ", Tipo: " + alertType + ", Mensaje: " + message;
            document.getElementById("divAlertas").appendChild(divAlerta);
        })
        connection.on("groupAlerts", function (alertType, message, groupNames) {
            groupNames.forEach(item => {
                var divAlerta = document.createElement("div");
                divAlerta.textContent = "Grupo: " + item + ", Tipo: " + alertType + ", Mensaje: " + message;
                document.getElementById("divAlertas").appendChild(divAlerta);

            })
            
        })
        return grupo.value;
    }

    function AgregarGrupos() {
        var grupo = document.getElementById("txt_grupo");
        document.getElementById("lbl_grupo").innerText = grupo.value;
        grupos.push(grupo.value);
    }
</script>
